@media screen and (max-width: 1100px) {
  .info-main-page .big-row .image {
    max-width: 100%;
    height: 440px;
  }
  .info-main-page .big-row {
    flex-direction: column;
  }

  .best-online .row .best-broker-holder .broker {
    max-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  footer .link-holder .main-info {
    margin-right: 20px;
  }
  footer .link-holder .sub-info {
    margin: 0px 12px;
  }
}

@media screen and (max-width: 970px) {
  .best-online .row .best-broker-holder .broker {
    max-width: 250px;
  }

  footer .link-holder .email-info .email form {
    justify-content: center;
  }

  .row .search-language .search form .active-search {
    top: -25px;
    height: 50px;
  }
  .search-language .search form .prefix {
    width: 40px;
    height: 40px;
    top: -21px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDEiIHZpZXdCb3g9IjAgMCA0MSA0MSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM5LjU0MyAzMi4zMDkyTDMyLjc5NDkgMjUuNTYxMUMzNC4wMjE4IDIzLjEwNzIgMzQuODM5OCAyMC4yNDQ0IDM0LjgzOTggMTcuMzgxNUMzNC44Mzk4IDcuNzcwNTcgMjcuMDY5MiAwIDE3LjQ1ODIgMEM3Ljg0NzI0IDAgMC4wNzY2NjAyIDcuNzcwNTcgMC4wNzY2NjAyIDE3LjM4MTVDMC4wNzY2NjAyIDI2Ljk5MjUgNy44NDcyNCAzNC43NjMxIDE3LjQ1ODIgMzQuNzYzMUMyMC4zMjExIDM0Ljc2MzEgMjMuMTgzOSAzMy45NDUxIDI1LjYzNzggMzIuNzE4MkwzMi4zODU5IDM5LjQ2NjNDMzQuNDMwOCA0MS41MTEyIDM3LjQ5ODEgNDEuNTExMiAzOS41NDMgMzkuNDY2M0M0MS4zODM0IDM3LjQyMTQgNDEuMzgzNCAzNC4zNTQxIDM5LjU0MyAzMi4zMDkyWk0xNy40NTgyIDMwLjY3MzNDMTAuMDk2NiAzMC42NzMzIDQuMTY2NDQgMjQuNzQzMSA0LjE2NjQ0IDE3LjM4MTVDNC4xNjY0NCAxMC4wMTk5IDEwLjA5NjYgNC4wODk3NyAxNy40NTgyIDQuMDg5NzdDMjQuODE5OCA0LjA4OTc3IDMwLjc1IDEwLjAxOTkgMzAuNzUgMTcuMzgxNUMzMC43NSAyNC43NDMxIDI0LjgxOTggMzAuNjczMyAxNy40NTgyIDMwLjY3MzNaIiBmaWxsPSIjOTJDM0RGIi8+Cjwvc3ZnPgo=);
  }
  footer .link-holder .email-info .text-footer-info {
    margin-left: 0px;
  }
  footer .link-holder .email-info .text-footer-info p {
    text-align: center;
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  footer .link-holder .email-info .email {
    margin-bottom: 20px;
    max-width: 530px;
    width: 100%;
  }
  footer .link-holder .email-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .link-holder .row {
    justify-content: flex-start;
  }
  footer .link-holder .sub-info {
    display: none;
  }
  .header-holder .search-language {
    margin-left: 0px;
  }
  .header-holder {
    position: relative;
    justify-content: space-between;
  }
  .header-holder .burger {
    display: block;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .header-holder .logo {
    order: 2;
  }

  .header-holder .menu-item-holder .hide {
    display: none;
  }

  .header-holder .menu-item-holder {
    order: 1;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    bottom: -83px;
    left: 0px;
    align-items: flex-start;
  }
  .header-holder .menu-item-holder ul {
    flex-direction: column;
    padding: 10px 0px;
  }

  .header-holder .search-language {
    order: 3;
  }
}

@media screen and (max-width: 920px) {
  footer .greeen-footer .row .link {
    margin-top: 10px;
  }
  footer .greeen-footer .row .copyright {
    font-weight: 200;
  }

  footer .greeen-footer .row .link ul li a {
    font-weight: 200;
  }

  footer .greeen-footer .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .greeen-footer .row .link ul li a {
    border-right: none;
  }

  footer .greeen-footer .row .link ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .company-image .row {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .company-image .row img {
    margin: 0px 20px;
    margin-top: 20px;
  }

  .app-info .row .info-holder .text p {
    max-width: 100%;
  }

  .app-info .row .info-holder .text {
    margin-top: 40px;
  }

  .app-info .row .info-holder .image-and-link .link-app a:first-child {
    margin-right: 40px;
  }

  .app-info .row .info-holder .image-and-link img {
    max-width: 570px;
  }

  .app-info .row .info-holder .image-and-link {
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }

  .app-info .row .info-holder {
    flex-direction: column-reverse;
  }

  .app-info .row .info-holder .text h3 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 26px;
  }

  .app-info .row .info-holder .text p {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .best-online .row .link-holder .item .text {
    height: 42px;
  }
  .best-online .row .link-holder .item {
    margin: 0px;
    max-height: 145px;
    box-shadow: none;
    border: 1px solid #92c3df;
    border-radius: 0px;
  }
  .information-block .row .image-adn-text img {
    margin-bottom: 22px;
  }
  .information-block .row .image-adn-text {
    flex-direction: column;
    align-items: center;
  }
  .information-block .row .image-adn-text p {
    margin-left: 0px;
  }
  .info-main-page .big-row .image {
    max-width: 100%;
    height: 340px;
  }
  .best-online .row .link-holder {
    background-color: #fff;
    padding: 7px;
    max-width: 772px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(73, 149, 192, 0.25);
    border-radius: 10px;
  }

  .best-online .row .link-holder a {
    margin: 0px;
  }

  .best-online .row .link-holder a .item {
    box-shadow: none;
    border-radius: 0px;
    justify-content: flex-start;
  }

  .best-online .row .link-holder a {
    border: 1px solid #92c3df;
  }

  .best-online .row .link-holder a:nth-child(1),
  .best-online .row .link-holder a:nth-child(2),
  .best-online .row .link-holder a:nth-child(3),
  .best-online .row .link-holder a:nth-child(4) {
    border-top: none;
    border-right: none;
    border-bottom: none;
  }

  .best-online .row .link-holder a:nth-child(5),
  .best-online .row .link-holder a:nth-child(6),
  .best-online .row .link-holder a:nth-child(7),
  .best-online .row .link-holder a:nth-child(8) {
    border-bottom: none;
    border-right: none;
  }

  .best-online .row .link-holder a:nth-child(1),
  .best-online .row .link-holder a:nth-child(5) {
    border-left: none;
  }

  .best-online .row .link-holder a:nth-child(4),
  .best-online .row .link-holder a:nth-child(8) {
    border-right: none;
  }
}
@media screen and (max-width: 850px) {
  .reviews .row .reviews-holder .item p {
    max-width: 100%;
  }
  .reviews .row .reviews-holder .item:nth-child(2),
  .reviews .row .reviews-holder .item:nth-child(3) {
    max-width: 100%;
  }
  .reviews .row .reviews-holder {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .info-main-page .big-row .text p {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 35px;
    /* or 194% */

    color: #000000;
  }
  .best-online .row .company-broker p {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #334253;
    margin: auto;
  }
  .best-online .row .company-broker {
    margin-top: 40px;
  }
  .best-online .row .best-broker-holder .broker:last-child {
    margin-bottom: 0px;
  }
  .best-online {
    background: linear-gradient(
      180.87deg,
      #e5ecf0 0.74%,
      rgba(255, 255, 255, 0) 25.25%
    );
  }
  .best-online .row .best-broker-holder .broker {
    max-width: 560px;
  }
  .best-online .row .best-broker-holder {
    flex-direction: column;
    align-items: center;
  }
  .best-online .row .best-broker-holder .broker {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .best-online .row .company-broker h2 {
    max-width: 567px;
    margin: auto;
    margin-bottom: 30px;
  }
  .information-block .row .author-info::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 103%;
    background-color: #e5ecf0;
    z-index: -1;
    left: -33px;
  }
  .best-online .row .link-holder .item {
    padding: 14px 12px;
  }
}
@media screen and (max-width: 640px) {
  .information-block .row .alignleft {
    margin: auto;
    margin-bottom: 22px;
    display: block;
    float: none;
  }
  .information-block .row .alignright {
    margin: auto;
    margin-bottom: 22px;
    display: block;
    float: none;
  }
  .information-block .row {
    padding: 0px 29px 0px 33px;
  }
  .app-info .row .info-holder .text h3 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .app-info .row .info-holder .text p {
    margin-left: 0px;
    margin-right: 0px;
  }
  .app-info .row {
    padding: 0px 31px 0px 33px;
  }
  footer .link-holder .main-info .social-link a {
    margin: 0px 33px;
  }
  .information-block .row .author-info p {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #424242;
  }
  .information-block .row p {
    margin: auto;
    margin-bottom: 10px;
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;

    color: #000000;
  }

  .reviews .row .reviews-holder .item {
    max-width: 511px;
    margin: auto;
    margin-bottom: 30px;
  }
  .reviews .row .reviews-holder .item:nth-child(2),
  .reviews .row .reviews-holder .item:nth-child(3) {
    max-width: 511px;
    margin: auto;
    margin-bottom: 30px;
  }
  .best-online .row {
    padding: 0px 19px;
  }
  .best-online .row .more-info {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: #334253;
    margin: auto;
    margin-top: 20px;
  }
  .information-block .row img {
    float: none;
    display: block;
    margin: auto;
  }
  .info-main-page .big-row .text h2 {
    margin-bottom: 20px;
  }

  .info-main-page .big-row .text {
    padding: 20px 26px 19px 34px;
  }

  .best-online .row .company-holder .item img {
    max-height: 85px;
    max-width: 159px;
  }

  .best-online .row .company-holder .item {
    width: 177px;
    padding: 0px 8px;
  }

  footer .link-holder .email-info .email form .submit {
    max-width: 131px;
    width: 100%;
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  footer .link-holder .email-info .email form {
    width: 530px;
  }

  footer .link-holder .email-info .email form .text {
    width: 100%;
    max-height: 57px;
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #334253;
  }
  footer .link-holder .main-info {
    margin-right: 0px;
  }
  footer .link-holder .main-info .social-link {
    margin-top: 75px;
    justify-content: center;
  }
  footer .link-holder .main-info .social-link svg {
    width: 47px;
    height: 47px;
  }
  footer .link-holder .row .main-info ul li a {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #334253;
  }
  footer .link-holder .main-info ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .link-holder .row {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .best-online .row .link-holder a .item {
    padding: 14px 13px;
    justify-content: center;
  }
  .best-online .row h1 {
    font-family: "Caladea";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #334253;
    margin-bottom: 20px;
  }
  .best-online .row h2 {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #334253;
    max-width: 591px;
    margin: auto;
    margin-bottom: 30px;
  }
  .best-online .row h3 {
    font-family: "Chivo";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #334253;
  }
}

@media screen and (max-width: 620px) {
  .best-online .row .link-holder a .item .icon {
    max-width: 47px;
    max-height: 47px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .best-online .row .link-holder a:nth-child(7) {
    border-left: none;
  }
  .best-online .row .link-holder a:nth-child(3) {
    border-left: none;
  }
  .best-online .row .link-holder a:nth-child(1),
  .best-online .row .link-holder a:nth-child(2) {
    border-bottom: 1px solid #92c3df;
  }
  .app-info .row .info-holder .image-and-link img {
    width: 100%;
  }
  .best-online .row .link-holder {
    max-width: 300px;
  }
}
@media screen and (max-width: 570px) {
  footer .link-holder .email-info .email form {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .header-holder .logo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-holder .logo img {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 38px;
  }
}
@media screen and (max-width: 440px) {
  .row .search-language .search form .active-search {
    width: 250px;
  }
}
@media screen and (max-width: 420px) {
  .row .search-language .search form .active-search {
    width: 250px;
  }

  footer .link-holder .email-info .email form .text {
    max-height: 57px;
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  .header-holder .logo img {
    width: 100%;
    height: 100%;
    max-width: 165px;
    max-height: 30px;
  }
}

@media screen and (max-width: 350px) {
}
